.sidebar {
    --transition-in: ease-in;
    --transition-out: ease-in;
}

#sidebar[data-sidebarState="open"] {
    width: 16rem;
    transition: width .4s;
    transition-timing-function: var(--transition-out);
}

#sidebar[data-sidebarState="open"]>ul {/*почему-то мгновенно появляется???*/
    opacity: 1;
    transition: opacity .4s;
    transition-timing-function: var(--transition-out);
    transition-delay: .8s;
}

#sidebar[data-sidebarState="hidden"] {
    width: 4.5rem;
    transition: width .4s;
    transition-timing-function: var(--transition-in);
    transition-delay: .2s;
}

#sidebar[data-sidebarState="hidden"]>ul>li>a>span,
#sidebar[data-sidebarState="hidden"]>ul summary span,
#sidebar[data-sidebarState="hidden"]>ul summary::after,
#sidebar[data-sidebarState="hidden"]>ul>li ul {
    opacity: 0;
    transition: opacity .3s;
    transition-timing-function: var(--transition-in);
}

#sidebar[data-sidebarState="close"]>ul>li>a>span,
#sidebar[data-sidebarState="close"]>ul summary span,
#sidebar[data-sidebarState="close"]>ul summary::after,
#sidebar[data-sidebarState="close"]>ul>li ul {
    opacity: 0;
}

#sidebar[data-sidebarState="close"]>ul>li>a>svg,
#sidebar[data-sidebarState="close"]>ul summary>svg {
    opacity: 0;
    transition: opacity .4s;
    transition-timing-function: var(--transition-in);
}

#sidebar[data-sidebarState="close"] {
    width: 1rem;
    transition: width .4s;
    transition-timing-function: var(--transition-in);
    transition-delay: .2s;
}


#sidebar[data-sidebarState="close"] #sidebar-logo {
    opacity: 0;
    transition: opacity .4s;
    transition-timing-function: var(--transition-in);
}

.sidebar-header {
    @apply box-content relative flex items-center justify-center h-16 bg-white border-b border-gray-100 shrink-0 dark:bg-gray-800 dark:border-gray-700;
}

#sidebar-logo {
    opacity: 1;
    transition: opacity .4s;
    transition-timing-function: var(--transition-out);
}

.sidebar-state-btn {
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: calc(50% - 0.7rem);
    right: -0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.sidebar-state-btn:hover {
    background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
}

.sidebar-link {
    @apply flex items-center p-2 text-gray-600 rounded-lg hover:bg-gray-100;
}